---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">
            <!-- Sthope Gravatar Profile Picture -->
            {% if site.gravatar %}
            <div class="gravatar">
              <img src="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=250&d=mm&r=x" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>
            {% elsif site.profile_pic %}
            <div class="gravatar">
                <img src="{{ site.profile_pic }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>
            {% endif %}

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.description }}
            </div>

            <!-- {% include social_links.html %} -->
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/by-year">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>
