<p class="links">
  {% if site.discord %}<a href="https://discordapp.com/users/{{ site.discord }}/" target="_new"><i class="fab fa-discord"></i></a>{% endif %}
  {% if site.github %}<a href="https://github.com/{{ site.github }}" target="_new"><i class="fab fa-github"></i></a>{% endif %}
  {% if site.sthopegit %}<a href="https://git.sthope.dev/{{ site.sthopegit }}" target="_new"><i class="fab fa-github-alt"></i></a>{% endif %}
  {% if site.twitter %}<a href="https://www.twitter.com/{{ site.twitter }}" target="_new"><i class="fab fa-twitter"></i></a>{% endif %}
  {% if site.facebook %}<a href="https://facebook.com/{{ site.facebook }}" target="_new"><i class="fab fa-facebook"></i></a>{% endif %}
  {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fab fa-stack-overflow"></i></a>{% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
  {% if site.xing_link %}<a href="{{ site.xing_link }}" target="_new"><i class="fa fa-xing"></i></a>{% endif %}
  {% if site.instagram_username %}<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_new"><i class="fa fa-instagram"></i></a>{% endif %}
  {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
  {% if site.reddit %}<a href="https://www.reddit.com/u/{{ site.reddit }}" target="_new"><i class="fab fa-reddit-alien"></i></a>{% endif %}
  {% if site.email %}<a href="mailto:{{ site.email }}" target="_new"><i class="fas fa-envelope"></i></a>{% endif %}
</p>
